<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.palladiosimulator.sensorframework Target Platform" sequenceNumber="2">
	<locations>
		<location type="Target" uri="mvn:org.palladiosimulator:palladio-target-platforms:0.1.0:target:palladio-2023-03"/>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.palladiosimulator.commons.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.palladiosimulator.thirdpartywrapper.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.apache.batik.dom" version="0.0.0"/>
			<unit id="org.apache.batik.awt.util" version="0.0.0"/>
			<unit id="org.apache.batik.svggen" version="0.0.0"/>
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2023-03/"/>
		</location>
	</locations>
</target>
